Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h.in
config.log
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
config.status
ember
ember-media.spec
ember.dox
ember.spec
make_dist_media.sh
mkinstalldirs
Makefile
optimized
debug
home
var
# Ignore objects and archives.
*.[oa]
# Ignore temporary files
*~
# Ignore desktop files
.directory
# Ignore password file used to rsync update amber
rsyncpasswd