Erik Ogenvik <erik@ogenvik.org> Erik Hjortsberg <erik.hjortsberg@iteam.se> 
Erik Ogenvik <erik@ogenvik.org> Erik Hjortsberg <erik.hjortsberg@gmail.com>
Alistair Riddoch <alriddoch@googlemail.com> Al Riddoch <alriddoch@googlemail.com>
Peter Szücs <peter.szucs.dev@gmail.com> Peter Szucs <peter.szucs.dev@gmail.com>
Kai Blin <kai.blin@gmail.com> Kai Blin <kai@samba.org>
Stephen M. Webb <stephen.webb@bregmasoft.ca> Stephen M. Webb <stephen.web@bregmasoft.ca>
Olek Wojnar <olek-dev@wojnar.org> olekw <olek-dev@wojnar.org>
