[Desktop Entry]
Categories=Games;
Comment=
Comment[sv]=
Encoding=UTF-8
Exec=ember
GenericName=3d client for Worldforge MMORPGs
GenericName[sv]=3d klient för Worldforge MMORPGs
Icon=ember
MimeType=
Name=Ember
Name[sv]=Ember
Path=
StartupNotify=true
Terminal=false
Type=Application
X-DCOP-ServiceType=
X-KDE-StartupNotify=true
X-KDE-SubstituteUID=false
X-KDE-Username=
