 

.bold
{
font-weight:bold
}


.center
{
text-align:center;
}

.italic
{
font-style: italic
}

.hrefnodecor
{
text-decoration: none
}

.block
{
display:block;
}

h1
{
font-family:sans-serif;
font-weight:bold;
color:#990033;
background-color:transparent;
text-decoration:none;
}

a.nav
{
color:#FFFFCC;
background-color:transparent;
text-decoration:none;
}

a.nav2
{
font-family:sans-serif;
color:#000033;
background-color:transparent;
font-size:10px;
text-decoration:none;
}



a.nav2:visited
{
color:#000033;
background-color:transparent;
font-size:10px;
}



a.nav3
{
font-family:sans-serif;
color:#000033;
background-color:transparent;
text-decoration:none;
}



a.nav3:visited
{
color:#000033;
background-color:transparent;
}



h2
{
font-family:sans-serif;
font-weight:bold;
color:#990033;
background-color:transparent;
text-decoration:none;
}



h3
{
font-style:italic;
font-family:sans-serif;
color:#990033;
background-color:transparent;
text-decoration:none;
}



h4
{
font-family:sans-serif;
color:#990033;
background-color:transparent;
font-size:10pt;
vertical-align:bottom;
text-transform:uppercase;
}



h1:first-letter
{
color:#990033;
background-color:transparent;
font-size:38px;
text-decoration:none;
}



td.tdlogo
{
width:16%;
border-color:#CCCCCC;
color:black;
background-color:#FFFFFF;
vertical-align:middle;
text-align:center;
border-collapse:collapse;
border-spacing:0px;
}



td.tdmenu
{
width:84%;
padding-left:5px;
border-width:0px;
border-color:#CCCCCC;
color:#EEEEFF;
background-color:#003366;
vertical-align:top;
text-align:left;
background-repeat:repeat;
background-image:url("http://www.worldforge.org/images/darksm");
border-collapse:collapse;
border-spacing:0px;
}



td.tdnavbar
{
width:16%;
padding-left:5px;
border-color:#CCCCCC;
color:black;
background-color:#EEEEFF;
text-align:left;
border-collapse:collapse;
border-spacing:0px;
}



td.tdbody
{
width:84%;
padding-left:5px;
border-color:#CCCCCC;
color:black;
background-color:white;
vertical-align:top;
text-align:left;
border-collapse:collapse;
border-spacing:0px;
}



a.nav4:visited
{
color:#000000;
background-color:transparent;
}



span.descfont
{
margin:0px;
padding:0px;
color:#000033;
background-color:transparent;
font-size:9pt;
}



span.titlefont
{
margin:0px;
padding:0px;
color:#990033;
background-color:transparent;
font-size:9pt;
text-decoration:none;
}



span.smallgrey
{
font-family:sans-serif;
color:#CCCCCC;
background-color:transparent;
font-size:10px;
}



dd.grey
{
font-family:sans-serif;
color:#EEEEFF;
background-color:transparent;
font-size:11px;
text-decoration:none;
}



span.menufont
{
font-family:sans-serif;
color:#EEEEFF;
background-color:transparent;
font-size:12px;
}



td.lobbycol1
{
width:55%;
margin:0px;
padding-top:1px;
padding-bottom:0px;
padding-left:5px;
padding-right:5px;
border-width:0px;
vertical-align:top;
text-align:left;
border-collapse:collapse;
border-spacing:0px;
}



td.lobbycol2
{
width:45%;
margin:0px;
padding-top:1px;
padding-bottom:0px;
padding-left:0px;
padding-right:5px;
border-width:0px;
vertical-align:top;
text-align:left;
border-collapse:collapse;
border-spacing:0px;
}



span.qlinks
{
font-style:italic;
font-family:sans-serif;
font-weight:bold;
color:#000033;
background-color:transparent;
font-size:12px;
}



.devmenufont
{
font-family:sans-serif;
color:#CCCC99;
background-color:transparent;
font-size:12px;
}



.devmenutitle
{
font-family:sans-serif;
font-weight:bold;
color:#CCCC99;
background-color:transparent;
font-size:12px;
}



td.devmenu24
{
width:24%;
border-width:0px;
vertical-align:top;
text-align:left;
border-collapse:collapse;
border-spacing:0px;
}



td.devmenu20
{
width:20%;
margin:0px;
padding:0px;
border-width:0px;
vertical-align:top;
text-align:left;
border-collapse:collapse;
border-spacing:0px;
}



td.devmenu18
{
width:18%;
margin:0px;
padding:0px;
border-width:0px;
vertical-align:top;
text-align:left;
border-collapse:collapse;
border-spacing:0px;
}



span.bolditalic
{
font-style:italic;
font-weight:bold;
}



table.devmenu
{
width:100%;
margin:0px;
padding:0px;
border-width:0px;
font-family:sans-serif;
color:#EEEEFF;
background-color:#003366;
font-size:12px;
text-align:left;
background-repeat:repeat;
background-image:url("http://www.worldforge.org/images/darksm");
border-collapse:collapse;
border-spacing:0px;
}



table.menu
{
width:100%;
margin:0px;
padding:0px;
border-width:0px;
font-family:sans-serif;
color:#EEEEFF;
background-color:#003366;
font-size:12px;
text-align:left;
background-repeat:repeat;
background-image:url("http://www.worldforge.org/images/darksm");
border-collapse:collapse;
border-spacing:0px;
}



table.qlinks
{
width:100%;
margin:0px;
padding-right:3px;
border-width:0px;
border-style:none;
color:#000033;
background-color:#EEEEFF;
vertical-align:middle;
text-align:right;
border-collapse:collapse;
border-spacing:0px;
}



td.tdfooter
{
border-width:0px;
border-color:#CCCCCC;
color:#CCCCCC;
background-color:#003366;
text-align:center;
background-repeat:repeat;
background-image:url("http://www.worldforge.org/images/darksm");
border-collapse:collapse;
border-spacing:0px;
}



td.tdqlinks
{
padding-right:3px;
border-width:0px;
border-color:#CCCCCC;
color:black;
background-color:#EEEEFF;
vertical-align:middle;
text-align:right;
border-collapse:collapse;
border-spacing:0px;
}



table.main
{
width:100%;
margin:0px;
padding:0px;
border-width:0px;
border-color:#CCCCCC;
border-style:ridge;
color:black;
background-color:#003366;
text-align:left;
border-collapse:collapse;
border-spacing:0px;
}



span.version
{
font-weight:bold;
color:#FFFFFF;
background-color:transparent;
}



dd.menu
{
padding-top:0px;
padding-bottom:0px;
}



dl.menu
{
margin-top:1px;
margin-bottom:1px;
padding-top:1px;
padding-bottom:1px;
}



dt.menu
{
padding-top:0px;
padding-bottom:0px;
}



span.bold
{
font-weight:bold;
}



span.italic
{
font-style:italic;
}



a.nav4
{
color:#000000;
background-color:transparent;
text-decoration:none;
}



a.nav:visited
{
color:#FFFFCC;
background-color:transparent;
}



div.breadcrumbs
{
border-width:0px;
border-style:none;
color:black;
background-color:#EEEEFF;
text-decoration:none;
}



html, body
{
background-repeat:repeat;
background-image:url("http://www.worldforge.org/images/teal");
padding: 0px;
margin: 0px;
border-collapse:collapse;
}



img
{
border-width:0px;
border-style:none;
}



.todo
{
color:#444444;
background-color:#FFFFBB;
}



.required
{
font-weight:bold;
color:#ff0000;
}



.important
{
font-weight:bold;
color:#aa0000;
}



.optional
{
font-weight:bold;
color:#770000;
}



.extra
{
font-weight:bold;
color:#440000;
}



.template
{
font-style:italic;
color:#444444;
background-color:#bbffbb;
}



.instruction
{
font-style:italic;
color:#444444;
background-color:#bbbbff;
}



.chart
{
color:#000000;
background-color:#9999EE;
}



.chart td
{
color:#000000;
background-color:#FFFFFF;
}



.chart th
{
color:#000000;
background-color:#DDDDF7;
}



.chart .caption
{
font-weight:bold;
color:#FFFFFF;
background-color:#9999EE;
}



.chart .subcaption
{
font-weight:bold;
color:#000000;
background-color:#EEEEFB;
}


.versionhistory
{
color:#000000;
background-color:#9999EE;
}


.versionhistory .caption
{
font-family:sans-serif;
font-weight:bold;
color:#FFFFFF;
background-color:#9999EE;
}

.versionhistory th
{
font-family:sans-serif;
color:#333366;
background-color:#DDDDF7;
}

.versionhistory td
{
color:#000000;
background-color:#FFFFFF;
}


.architecture
{
  font-family:sans-serif;
  color:#000000;
  background-color:#9999EE;
}

.architecture td
{
  font-family:sans-serif;
  color:#000000;
  background-color:#FFFFFF;
}

.architecture .uilayer td,
.architecture td.uilayer 
{
  color:#000000;
  background-color:#FFFFDD
}

.architecture .bussinesslayer td,
.architecture td.bussinesslayer 
{
  color:#000000;
  background-color:#DDFFDD
}

.architecture .platformlayer  td,
.architecture td.platformlayer 
{
  color:#000000;
  background-color:#DDFFFF;
}

.architecture .systemlayer td,
.architecture td.systemlayer
{
  color:#000000;
  background-color:#DDDDFF;
}

.listing dt
{
  font-weight:bold;
  font-family:sans-serif;
  font-size:16px;
color:#660022;
}