### WARNING
## read Data2dLoader.txt, Mapsplitterreadme.txt
## in ogreaddons paginglandscape root folder before anything here.
##

# resource group name
GroupName=General

#
# If you intend to use it with
# Paginglandscape scenemanager  Paged=yes
# or with Terrain scenemanager  Paged=no
Paged=yes


###########
###########
#           Height and Width of the landscape in number of pages
Width=1
Height=1

#
#           Size of the Heightfiled in pixels (must be (power of 2) + 1)
PageSize=513
#
#           Size of the Heightfield in pixels
#193 is the best spot as its the last power of two size that gives 16bits indexbuffer
TileSize=129



#           Especialized 2D data loader.
#           Currently the only available loaders are
#           'HeightField', 'HeightFieldTC' and 'SplineField'.
#           More to come. (For Terrainscene (paged =yes  HeightField is used by default)
#

Data2DFormat=EmberHeightField




#########HEIGTHMAPS
#
# What to generate
# HERE IS WHERE YOU SPECIFY YOUR NEEDS
#
# If you want your map to be infinitizable
InfiniteMap=no

# If you want smooth your heightmap
HeightMapBlurFactor=0.0f
# Make sure heights use the whole range (0-255 or 0-65535)
Equalize=no
# usual 8 bits HeightMap (terrain scene manager)
HeightMap=yes
# Creates a MiniMap (width=numpageswidth*numtiles and height=numpagesheight*numtiles)
# (as the name don't tell, it's creates a file.small.png image...)
MiniMap=no
MiniMapWidth=512
MiniMapHeight=512

#########NORMALS
#
# Normal Map
NormalMap=yes
# RGB as XYZ normal and Alpha as 8 bits HeightMap (paging scene manager)
HeightNormalMap=no


#
# Map that can be used on not too much scaled terrain or old hardware
# no enough texture units or too slow multipass (Textureformat=Image)
ColorMapGenerated=no
# same but with modulated with light
LitColorMapGenerated=no

#########SPLATTING

# Base map for big scale maps, used for long distance instead of splatting
# (Textureformat=Base and splattingX)
BaseMap=no
# same but with modulated with light
LitBaseMap=no
#
#### Maps used for splattings
#
# coverage is RGBA, each channel has info for 1 splat
# (Textureformat=splatting3)
CoverageMap=no
#
# generate 1 alpha map per splatting
# (Textureformat=splatting2) When Ogre has support fo PF_A8
AlphaMaps=no
# same but with black RGB data until Ogre has support fo PF_A8
AlphaSplatRGBAMaps=no
# same but with light in RGB data
AlphaSplatLightMaps=no
#
# generate 1 RGB map per splatting gray level instead of alpha
# (mainly debug, but can be used to get some splatting in GL version one day)
RGBMaps=no


####################LIGHTING

# Shadows on terrains (lightmap is used, shadowmap is mainly for debugging)
# (Textureformat=splatting4)
LightMap=no
ShadowMap=no

Sunx=0.0f
Suny=0.88f
Sunz=0.47f

Ambient=0.5f
Diffuse=0.5f
Blur=0.0f

######## Real-Time LIGHTING

# Horizon Mapping (real-time lightmapping shader with V2 pixel shader)
# LONG TIME COMPUTATION
HorizonMap=no
# map elevation lookup table independant, so generate once and rename according to your materials.
ElevationMap=no

# trick Real-Time mapping : sun is constricted in Z axis. Fastest Horizon mapping possible with and without shaders.
ZHorizon=yes


########VISIBILITY
#
# PVS (potential visibility set)
# VERY LONG TIME COMPUTATION
# Will be used to decide if terrain patches are visible or hidden by some hills
# or mountains (not used for now in plugin's code)
# could be used for AI to know if something is visible from a point to another...
# so perhaps a thing that can lies in scenemanagers...
PVSMap=no

################## PERFORMANCES OPTIONS.
#
#
#
#           Visible renderables
#               This is the number of visible renderables from the current camera position
#               to the border of the visible terrain. (The radius of renderables)
VisibleRenderables=64
#

#  LOD : LEVEL OF DETAIL
#
# if not set, it's precomputed to the max possible at this TileSize.
# Must be (2^MaxRendervel < TileSize)
#MaxRenderLevel=5
#
#
#           FPS Processing limit
#     number of renderables loading in a single frame (if needed)
NumRenderablesLoading=50


#
#  WINDOWING AROUND CAMERA
#
#           Num of adjacent loaded landscape pages.
MaxAdjacentPages=2
#

#           Num of adjacent preloaded landscape pages.
#               Must be bigger than MaxAdjacentPages + 1, the textures are loaded in a separate thread.
MaxPreloadedPages=3
#
#

#           Pages Load Factor
#               Pages will be load/unload when they are about PageSize^2 * ChangeFactor
ChangeFactor=1.5
#
#

#           Camera Threshold
#               If the last camera position minus current camera position is >= CameraTheshold
#               then the scene is trasverse to check LOD.
CameraThreshold=5

#
#           Memory Pool Initial Usage Values (pre-allocated renderables and tiles.)
#        use debug mode to check your needs.
# At max should be near MaxPreloadedPages*(pagesize/tilesize)*(pagesize/tilesize)
#
MaxNumRenderables=64
IncrementRenderables=32
MaxNumTiles=64
IncrementTiles=32

# The maximum error allowed when determining which LOD to use
MaxPixelError=7




################## LIGHTING OPTIONS.
#           For better looking deformed texture (instantbase)
#           for shader (needed to get slope)
# could be automatic ?
VertexNormals=yes
#
#           For lighting
VertexLit=no




NumTextureFormatSupported=1

TextureFormatSupported0=EmberTexture
