// Ogre overlay scripts
#include <BasicOgreGuiTemplates.inc>


SS/Setup/HostScreen/Overlay
{
	zorder 490
	// Stats block
	container BorderPanel(SS/Setup/HostScreen/BackPanel) : SS/Templates/BasicBorderPanel
	{
		left 0 
		top 0
		width 1
		height 1
		container BorderPanel(SS/Setup/HostScreen/AvailableGamesListPanel) : SS/Templates/BasicBorderPanel
		{
			left 0.1 
			top 0.1
			width 0.6
			height 0.8
			material Core/StatsBlockCenter

			container List(SS/Setup/HostScreen/AvailableGamesList)
			{
				item_template SS/Templates/BasicText
				v_spacing 0.005
				h_spacing 0.005
				left 0.1 
				top 0.1
				width 0.4
				height 0.6
				item_material_selected Examples/Hilite/Yellow
				material Core/StatsBlockCenter
				scroll_bar SS/Templates/ScrollBar
			}

		}
		    
		container BorderButton(SS/Setup/HostScreen/Host) : SS/Templates/BasicButton
		{
			left 0.82
			top 0.45
			caption SS/Templates/BasicText HOST
		}


		container BorderButton(SS/Setup/HostScreen/Join) : SS/Templates/BasicButton
		{
			left 0.82
			top 0.60
			caption SS/Templates/BasicText JOIN
		}

		container BorderButton(SS/Setup/HostScreen/Exit) : SS/Templates/BasicButton
		{
			left 0.82
			top 0.75
			caption SS/Templates/BasicText EXIT
		}
				

		container TextBox(SS/Setup/HostScreen/Text) : SS/Templates/BasicTextBox
		{
		}

	}
	
}

